<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Classificação de Emoção</title>
</head>
<body>
    <h1>Classificação de Emoção</h1>
    <form action="/prever" method="POST">
    <label for="texto" style="display: block;">Digite o que está sentindo hoje:</label>
    <input type="text" id="texto" name="texto" required style="width: 30%; height: 80px; display: inline-block;">
    <button type="submit" style="display: inline-block; margin-left: 10px;">Prever Emoção</button>
</form>

</body>
</html>
